$body-bg-color:           #28282a
$form-sass-color:         #ff94e1
$form-sass-comment-color: #94e1ff
$form-haml-color:         #ffff94
$body-color:              #fff
$body-color-secondary:    rgb(255 255 255 / 50%)

body
  background-color: $body-bg-color
  color: $body-color

#root
  height: 100%

.main
  display: flex
  flex-direction: column
  gap: 1rem
  width: 100%
  max-width: 100rem
  height: 100%
  padding: 4rem
  margin-inline: auto

.title
  margin-bottom: 0
  font-size: 2.4rem
  font-weight: 700
  letter-spacing: .05em
  text-align: center

.description
  margin-bottom: 2rem
  text-align: center

.forms
  $border-radius: .5rem
  flex-grow: 1
  display: flex
  justify-content: space-between
  gap: 2rem
  &__form
    width: 100%
    &__label
      display: block
      width: fit-content
      padding: .5rem 1rem
      border-radius: calc($border-radius / 2) calc($border-radius / 2) 0 0
      color: $body-bg-color
      font-size: 1rem
      font-weight: 700
      line-height: 1
      text-align: center
      &--sass
        background-color: $form-sass-color
      &--haml
        background-color: $form-haml-color
    &__textarea
      width: 100%
      min-height: 100%
      padding: .75rem 1rem
      border-width: 2px
      border-style: solid
      border-radius: 0 $border-radius $border-radius $border-radius
      font-family: "Roboto Mono", monospace
      font-size: .85rem
      line-height: 1.7
      &--sass
        background-color: rgba($form-sass-color, .02)
        border-color: $form-sass-color
      &--haml
        background-color: rgba($form-haml-color, .02)
        border-color: $form-haml-color
        color: $form-haml-color

[data-color-mode='dark']
  .w-tc-editor
    --color-fg-default: #{$form-sass-color}
    //--color-canvas-subtle: #161b22
    --color-prettylights-syntax-comment: #{$form-sass-comment-color}
    //--color-prettylights-syntax-entity-tag: #7ee787
    //--color-prettylights-syntax-entity: #d2a8ff
    --color-prettylights-syntax-sublimelinter-gutter-mark: #{$body-color-secondary}
    --color-prettylights-syntax-constant: #{$body-color-secondary}
    //--color-prettylights-syntax-string: #a5d6ff
    //--color-prettylights-syntax-keyword: #ff7b72
    //--color-prettylights-syntax-markup-bold: #c9d1d9

.w-tc-editor-preview.language-scss
  .code-line:has(.token.punctuation)
    color: $body-color-secondary
